// Colors
$dark: #000;
$darkTransparent: rgba(
  $color: #000,
  $alpha: 0.3,
);

$white: #fff;
$whiteTransparent: rgba(
  $color: #fff,
  $alpha: 0.7,
);

$grey: #ddd;
$bgGreyFallback: #ece9e6; /* fallback for old browsers */
$bgGreyGradient: linear-gradient(
  to right,
  #ffffff,
  #ece9e6
); /* Chrome 10-25, Safari 5.1-6 */
$bgGreyGradient-webkit: -webkit-linear-gradient(
  to right,
  #ffffff,
  #ece9e6
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$lightbluePrimary: #009bc5;
$lightblueGradient: linear-gradient(
  to right,
  #0083b0,
  #00b4db
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$lightblueGradient-webkit: -webkit-linear-gradient(
  to right,
  #0083b0,
  #00b4db
); /* Chrome 10-25, Safari 5.1-6 */

#pseudo-header {
  position: relative;
  height: 3rem;
}

#obras {
  width: 100%;
  margin: 100px 0;
  text-align: center;

  .obra-container {
    width: 100%;

    .descripcion {
      h5 {
        margin-bottom: 20px;
      }
      background: $lightbluePrimary;
      background: $lightblueGradient;
      background: $lightblueGradient-webkit;
      padding: 15px 0;
      color: #fff;
      width: 80%;
      margin: 40px auto;
      border-radius: 14px;
    }

    span {
      font-weight: 600;
    }
  }

  .obra-container.angosto {
    margin: auto;
    width: 80%;
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }

  .obra-container {
    margin: 50px 0;

    img {
      width: 40%;
      height: 30vw;
    }
  }
}

#cocacola {
  h2 {
    margin: 0;
  }
}

#back-main {
    color: rgb(148, 148, 148);
    cursor: pointer;
}

.back-container {
    font-size: 2rem;
    position: fixed;
    bottom: 100px;
    right: 30px;
    background: $whiteTransparent;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}

@media only screen and (max-width: 700px) {
  #obras {
    .obra-container {
      width: 100%;

      .descripcion {
          width: 100%;
          border-radius: 0;
      }

      img {
          width: 80%;
          height: auto;
      }
    }

    .obra-container.angosto {
    margin: auto;
    width: 100%;
  }

  }
}
